<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Thursday - April 12</string>
		<key>Events</key>
		<array>
			<dict>
				<key>name</key>
				<string>3pm: REGISTRATION OPENS</string>
				<key>details</key>
				<string>   </string>
			</dict>
			<dict>
				<key>name</key>
				<string>7pm: WELCOMING RECEPTION</string>
				<key>details</key>
				<string>Piff the Magic Dragon</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>Friday - April 13</string>
		<key>Events</key>
		<array>
			<dict>
				<key>name</key>
				<string>10am: MORNING SESSION</string>
				<key>details</key>
				<string>Hosted by Paul Wilson and featuring Jared Kopf, Kevin Ho, David Acer and Rob Zabrecky</string>
			</dict>
			<dict>
				<key>name</key>
				<string>12pm: LUNCH</string>
				<key>details</key>
				<string>   </string>
			</dict>
			<dict>
				<key>name</key>
				<string>2pm: AFTERNOON SESSION</string>
				<key>details</key>
				<string>Hosted by John Lovick and featuring Jim Steinmeyer, Lance Pierce, Brad Fulton and Jason Alexander</string>
			</dict>
			<dict>
				<key>name</key>
				<string>4pm: AFTERNOON LECTURES</string>
				<key>details</key>
				<string>Piff the Magic Dragon and Lance Pierce</string>
			</dict>
			<dict>
				<key>name</key>
				<string>6pm: DINNER</string>
				<key>details</key>
				<string>   </string>
			</dict>
			<dict>
				<key>name</key>
				<string>9pm: AN EVENING ENCOUNTER WITH...</string>
				<key>details</key>
				<string>Rob Zabrecky and the Moon</string>
			</dict>
			<dict>
				<key>name</key>
				<string>11pm: Evening Lecture</string>
				<key>details</key>
				<string>Jared Kopf</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>Saturday - April 14</string>
		<key>Events</key>
		<array>
			<dict>
				<key>name</key>
				<string>10am: MORNING SESSION</string>
				<key>details</key>
				<string>Hosted by Chad Long and featuring Mahdi Gilbert, Tony Chang, Adam Rubin, Ricky Smith, David Acer</string>
			</dict>
			<dict>
				<key>name</key>
				<string>12pm: LUNCH</string>
				<key>details</key>
				<string>   </string>
			</dict>
			<dict>
				<key>name</key>
				<string>2pm: AFTERNOON SESSION</string>
				<key>details</key>
				<string>Panel discussion with David Blaine, Daniel Garcia, Doug McKenzie, Cyril Takayama and Enrico de la Vega</string>
			</dict>
			<dict>
				<key>name</key>
				<string>3pm: AFTERNOON LECTURES</string>
				<key>details</key>
				<string>Adam Rubin, Roberto Mansilla and Rob Zabrecky</string>
			</dict>
			<dict>
				<key>name</key>
				<string>6pm: DINNER</string>
				<key>details</key>
				<string>   </string>
			</dict>
			<dict>
				<key>name</key>
				<string>9pm: EVENING SHOW</string>
				<key>details</key>
				<string>Hosted by John Lovick and featuring Adam Rubin, Chris Korn, Roberto Mansilla, Dani DaOrtiz and David Acer</string>
			</dict>
			<dict>
				<key>name</key>
				<string>11PM: EVENING LECTURE</string>
				<key>details</key>
				<string>The Fat Brothers</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>Sunday - April 15</string>
		<key>Events</key>
		<array>
			<dict>
				<key>name</key>
				<string>10am: MORNING SESSION</string>
				<key>details</key>
				<string>Hosted by Michael Weber and featuring Roberto Mansilla, Jared Kopf and Chad Long</string>
			</dict>
			<dict>
				<key>name</key>
				<string>12pm: LUNCH</string>
				<key>details</key>
				<string>   </string>
			</dict>
			<dict>
				<key>name</key>
				<string>2pm: AFTERNOON LECTURES</string>
				<key>details</key>
				<string>Michael Weber and Dani DaOrtiz</string>
			</dict>
			<dict>
				<key>name</key>
				<string>4pm: CLOSING PRESENTATION</string>
				<key>details</key>
				<string>   </string>
			</dict>
		</array>
	</dict>
</array>
</plist>
