<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Thursday - April 12</string>
		<key>Events</key>
		<array>
			<dict>
				<key>name</key>
				<string>Event 1</string>
				<key>time</key>
				<string>7pm</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>Friday - April 13</string>
		<key>Events</key>
		<array>
			<dict>
				<key>name</key>
				<string>Event 1</string>
				<key>time</key>
				<string>10am</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Event 2</string>
				<key>time</key>
				<string>11am</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Lunch</string>
				<key>time</key>
				<string>12pm</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Event 3</string>
				<key>time</key>
				<string>2pm</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Event 4</string>
				<key>time</key>
				<string>4pm</string>
			</dict>
            <dict>
				<key>name</key>
				<string>Dinner</string>
				<key>time</key>
				<string>6pm</string>
			</dict>
            <dict>
				<key>name</key>
				<string>Event 5</string>
				<key>time</key>
				<string>8pm</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>Saturday - April 14</string>
		<key>Events</key>
		<array>
            <dict>
				<key>name</key>
				<string>Event 1</string>
				<key>time</key>
				<string>10am</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Event 2</string>
				<key>time</key>
				<string>11am</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Lunch</string>
				<key>time</key>
				<string>12pm</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Event 3</string>
				<key>time</key>
				<string>2pm</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Event 4</string>
				<key>time</key>
				<string>4pm</string>
			</dict>
            <dict>
				<key>name</key>
				<string>Dinner</string>
				<key>time</key>
				<string>6pm</string>
			</dict>
            <dict>
				<key>name</key>
				<string>Event 5</string>
				<key>time</key>
				<string>8pm</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>Sunday - April 15</string>
		<key>Events</key>
		<array>
            <dict>
				<key>name</key>
				<string>Event 1</string>
				<key>time</key>
				<string>10am</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Event 2</string>
				<key>time</key>
				<string>11am</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Lunch</string>
				<key>time</key>
				<string>12pm</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Event 3</string>
				<key>time</key>
				<string>2pm</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Event 4</string>
				<key>time</key>
				<string>4pm</string>
			</dict>
            <dict>
				<key>name</key>
				<string>Dinner</string>
				<key>time</key>
				<string>6pm</string>
			</dict>
            <dict>
				<key>name</key>
				<string>Event 5</string>
				<key>time</key>
				<string>8pm</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
